<div class="topbar">
    <div class="brand">
        PayPals
    </div>

    <button class="menu-button" @onclick="ToggleMenu">
        ☰
    </button>
</div>

@if (isMenuOpen)
{
    <div class="dropdown-menu-custom">
        <NavLink class="menu-link" href="/" Match="NavLinkMatch.All" @onclick="CloseMenu">
            Home
        </NavLink>

        <NavLink class="menu-link" href="/products" @onclick="CloseMenu">
            Products
        </NavLink>

        <NavLink class="menu-link" href="/persons" @onclick="CloseMenu">
            Persons
        </NavLink>

        <NavLink class="menu-link" href="/shoppinglists" @onclick="CloseMenu">
            Shopping Lists
        </NavLink>
    </div>
}

@code {
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    private void CloseMenu()
    {
        isMenuOpen = false;
    }
}